n8n-workflows/02-quick-log.json
{
  "name": "Quick Log",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "log-webhook"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\nconst now = new Date();\nconst time = now.toTimeString().split(' ')[0].substring(0,5);\nconst body = $input.first().json.body || $input.first().json;\nconst text = body.text || body.message || body.content || '';\n\nreturn {\n  json: {\n    today,\n    time,\n    text,\n    logEntry: `- ${time} — ${text}`\n  }\n};"
      },
      "id": "prepare-log",
      "name": "Prepare Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://void.insighter.digital/api/vault/write",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: 'dummy', content: $json.text, mode: 'log' }) }}",
        "options": {"timeout": 10000}
      },
      "id": "call-dashboard-api",
      "name": "Call Dashboard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, text: $('Prepare Log Entry').first().json.text }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Prepare Log Entry", "type": "main", "index": 0}]]
    },
    "Prepare Log Entry": {
      "main": [[{"node": "Call Dashboard API", "type": "main", "index": 0}]]
    },
    "Call Dashboard API": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "versionId": "5",
  "meta": {"instanceId": "void-automation"},
  "tags": []
}
