n8n-workflows/03-vault-search.json
{
  "name": "Vault Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "search-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://khoj.insighter.digital/api/search?q={{ encodeURIComponent($json.body?.query || $json.query || '') }}&t=all&n={{ $json.body?.limit || $json.limit || 5 }}",
        "options": {"timeout": 30000}
      },
      "id": "khoj-search",
      "name": "Khoj Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// n8n returns each array element as separate item\nconst allItems = $input.all();\nconst webhook = $('Webhook Trigger').first().json;\nconst query = webhook.body?.query || webhook.query || '';\n\nconst formattedResults = allItems.map((item, i) => {\n  const r = item.json;\n  return {\n    index: i + 1,\n    entry: (r.entry || r.content || '').substring(0, 300),\n    file: r.additional?.file || r.file || 'unknown',\n    score: r.score || 0\n  };\n});\n\nreturn {\n  json: {\n    query: query,\n    count: formattedResults.length,\n    results: formattedResults\n  }\n};"
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Khoj Search", "type": "main", "index": 0}]]},
    "Khoj Search": {"main": [[{"node": "Format Results", "type": "main", "index": 0}]]},
    "Format Results": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "versionId": "2",
  "meta": {"instanceId": "void-automation"},
  "tags": []
}
