n8n-workflows/05-telegram-router.json
{
  "name": "Telegram Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-trigger",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "telegram-trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.message || {};\nconst text = message.text || '';\nconst chatId = message.chat?.id || '';\n\nif (text.startsWith('/log ')) {\n  const logText = text.replace('/log ', '').trim();\n  return {json: {chatId, command: 'log', content: logText}};\n}\n\nif (text.startsWith('/memory ')) {\n  const memoryText = text.replace('/memory ', '').trim();\n  const colonIndex = memoryText.indexOf(':');\n  if (colonIndex > 0) {\n    const type = memoryText.substring(0, colonIndex).trim().toLowerCase();\n    const content = memoryText.substring(colonIndex + 1).trim();\n    return {json: {chatId, command: 'memory', type, content}};\n  }\n  return {json: {chatId, command: 'memory', type: 'context', content: memoryText}};\n}\n\nif (text.startsWith('/plan')) {\n  const planInput = text.replace('/plan', '').trim();\n  return {json: {chatId, command: 'plan', content: planInput}};\n}\n\nreturn {json: {chatId, command: 'unknown', content: text}};"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const cmd = $input.first().json.command;\nconst data = $input.first().json;\n\nif (cmd === 'log') {\n  return [{json: {...data, _route: 'log'}}, {json: {}}, {json: {}}];\n} else if (cmd === 'memory') {\n  return [{json: {}}, {json: {...data, _route: 'memory'}}, {json: {}}];\n} else {\n  return [{json: {}}, {json: {}}, {json: {...data, _route: 'unknown'}}];\n}"
      },
      "id": "route-command",
      "name": "Route Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "outputs": ["main", "main", "main"]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._route === 'log' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-log",
      "name": "If Log",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [950, 150]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._route === 'memory' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-memory",
      "name": "If Memory",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [950, 350]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._route === 'unknown' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-unknown",
      "name": "If Unknown",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [950, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://void.insighter.digital/api/vault/write",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: 'dummy', content: $json.content, mode: 'log' }) }}",
        "options": {}
      },
      "id": "call-log",
      "name": "Call Log API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://void.insighter.digital/api/action/memory",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $json.type, content: $json.content }) }}",
        "options": {}
      },
      "id": "call-memory",
      "name": "Call Memory API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Command').first().json.chatId, text: 'Logged: ' + $('Parse Command').first().json.content }) }}",
        "options": {}
      },
      "id": "reply-log",
      "name": "Reply Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Command').first().json.chatId, text: 'Saved to ' + $('Parse Command').first().json.type + ': ' + $('Parse Command').first().json.content }) }}",
        "options": {}
      },
      "id": "reply-memory",
      "name": "Reply Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Command').first().json.chatId, text: 'Commands:\\n/log <text> - Quick log\\n/memory <type>: <text> - Save memory\\n/plan <input> - Plan day' }) }}",
        "options": {}
      },
      "id": "reply-help",
      "name": "Reply Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Command", "type": "main", "index": 0}]]},
    "Parse Command": {"main": [[{"node": "If Log", "type": "main", "index": 0}, {"node": "If Memory", "type": "main", "index": 0}, {"node": "If Unknown", "type": "main", "index": 0}]]},
    "If Log": {"main": [[{"node": "Call Log API", "type": "main", "index": 0}]]},
    "If Memory": {"main": [[{"node": "Call Memory API", "type": "main", "index": 0}]]},
    "If Unknown": {"main": [[{"node": "Reply Help", "type": "main", "index": 0}]]},
    "Call Log API": {"main": [[{"node": "Reply Log", "type": "main", "index": 0}]]},
    "Call Memory API": {"main": [[{"node": "Reply Memory", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "versionId": "9",
  "meta": {"instanceId": "void-automation"},
  "tags": []
}
