n8n-workflows/05-telegram-router.json
{
  "name": "Telegram Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-trigger",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "telegram-trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.message || {};\nconst text = message.text || '';\nconst chatId = message.chat?.id || '';\n\n// Route based on command\nif (text.startsWith('/log ')) {\n  const logText = text.replace('/log ', '').trim();\n  return {json: {chatId, command: 'log', content: logText}};\n}\n\nif (text.startsWith('/memory ')) {\n  const memoryText = text.replace('/memory ', '').trim();\n  // Parse format: \"type: content\" e.g., \"goal: Launch by March\"\n  const colonIndex = memoryText.indexOf(':');\n  if (colonIndex > 0) {\n    const type = memoryText.substring(0, colonIndex).trim().toLowerCase();\n    const content = memoryText.substring(colonIndex + 1).trim();\n    return {json: {chatId, command: 'memory', type, content}};\n  }\n  // Default to context if no type specified\n  return {json: {chatId, command: 'memory', type: 'context', content: memoryText}};\n}\n\nif (text.startsWith('/plan')) {\n  const planInput = text.replace('/plan', '').trim();\n  return {json: {chatId, command: 'plan', content: planInput}};\n}\n\n// Unknown command\nreturn {json: {chatId, command: 'unknown', content: text}};"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {"outputKey": "log", "conditions": {"conditions": [{"leftValue": "={{ $json.command }}", "rightValue": "log", "operator": {"type": "string", "operation": "equals"}}]}},
            {"outputKey": "memory", "conditions": {"conditions": [{"leftValue": "={{ $json.command }}", "rightValue": "memory", "operator": {"type": "string", "operation": "equals"}}]}},
            {"outputKey": "unknown", "conditions": {"conditions": [{"leftValue": "={{ $json.command }}", "rightValue": "unknown", "operator": {"type": "string", "operation": "equals"}}]}}
          ]
        },
        "options": {"fallbackOutput": "extra"}
      },
      "id": "route-command",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/vault/write",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: 'dummy', content: $json.content, mode: 'log' }) }}",
        "options": {}
      },
      "id": "call-log",
      "name": "Call Log API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 150],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/action/memory",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $json.type, content: $json.content }) }}",
        "options": {}
      },
      "id": "call-memory",
      "name": "Call Memory API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8511416050:AAF7VRhFxvNT6pATHBhlsgpHpy0J56GqBYs/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Command').first().json.chatId, text: '✓ Logged: ' + $('Parse Command').first().json.content }) }}",
        "options": {}
      },
      "id": "reply-log",
      "name": "Reply Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8511416050:AAF7VRhFxvNT6pATHBhlsgpHpy0J56GqBYs/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Command').first().json.chatId, text: '✓ Saved to ' + $('Parse Command').first().json.type + ': ' + $('Parse Command').first().json.content }) }}",
        "options": {}
      },
      "id": "reply-memory",
      "name": "Reply Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8511416050:AAF7VRhFxvNT6pATHBhlsgpHpy0J56GqBYs/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Command').first().json.chatId, text: 'Commands:\\n/log <text> - Quick log\\n/memory <type>: <text> - Save memory\\n  Types: preference, goal, context\\n/plan <input> - Plan day' }) }}",
        "options": {}
      },
      "id": "reply-help",
      "name": "Reply Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Command", "type": "main", "index": 0}]]},
    "Parse Command": {"main": [[{"node": "Route Command", "type": "main", "index": 0}]]},
    "Route Command": {"log": [[{"node": "Call Log API", "type": "main", "index": 0}]], "memory": [[{"node": "Call Memory API", "type": "main", "index": 0}]], "unknown": [[{"node": "Reply Help", "type": "main", "index": 0}]]},
    "Call Log API": {"main": [[{"node": "Reply Log", "type": "main", "index": 0}]]},
    "Call Memory API": {"main": [[{"node": "Reply Memory", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "versionId": "8",
  "meta": {"instanceId": "void-automation"},
  "tags": []
}
