n8n-workflows/10-health-monitor.json
{
  "name": "Health Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "health-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "health-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:3000/api/health",
        "options": {"timeout": 10000}
      },
      "id": "check-dashboard",
      "name": "Check Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:42110/api/health",
        "options": {"timeout": 10000}
      },
      "id": "check-khoj",
      "name": "Check Khoj",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let dashboardOk = false;\nlet khojOk = false;\n\ntry {\n  const dashboard = $('Check Dashboard').first().json;\n  dashboardOk = !!(dashboard && (dashboard.status === 'ok' || dashboard.version));\n} catch(e) { dashboardOk = false; }\n\ntry {\n  const khoj = $('Check Khoj').first().json;\n  khojOk = !!(khoj && (khoj.email || khoj.status === 'ok'));\n} catch(e) { khojOk = false; }\n\nconst status = {\n  timestamp: new Date().toISOString(),\n  services: {\n    dashboard: dashboardOk,\n    khoj: khojOk,\n    n8n: true\n  }\n};\n\nstatus.healthy = status.services.dashboard && status.services.khoj && status.services.n8n;\n\nreturn {json: status};"
      },
      "id": "aggregate-status",
      "name": "Aggregate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Check Dashboard", "type": "main", "index": 0}, {"node": "Check Khoj", "type": "main", "index": 0}]]},
    "Check Dashboard": {"main": [[{"node": "Aggregate Status", "type": "main", "index": 0}]]},
    "Check Khoj": {"main": [[{"node": "Aggregate Status", "type": "main", "index": 0}]]},
    "Aggregate Status": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "versionId": "2",
  "meta": {"instanceId": "void-automation"},
  "tags": []
}
