n8n-workflows/10-health-monitor.json
{
  "name": "Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "*/15 * * * *"}]
        }
      },
      "id": "cron-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KHOJ_BASE_URL || 'http://khoj:42110' }}/api/health",
        "options": {"timeout": 10000}
      },
      "id": "check-khoj",
      "name": "Check Khoj",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_WEBHOOK_BASE || 'http://localhost:5678' }}/healthz",
        "options": {"timeout": 10000}
      },
      "id": "check-n8n",
      "name": "Check n8n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DASHBOARD_URL || 'http://localhost:3000' }}/api/health",
        "options": {"timeout": 10000}
      },
      "id": "check-dashboard",
      "name": "Check Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const khoj = $('Check Khoj').first();\nconst n8n = $('Check n8n').first();\nconst dashboard = $('Check Dashboard').first();\n\nconst services = [\n  {name: 'Khoj', status: khoj.json?.status === 'ok' || khoj.json?.healthy ? 'ok' : 'down', error: khoj.error},\n  {name: 'n8n', status: n8n.json?.status === 'ok' ? 'ok' : 'down', error: n8n.error},\n  {name: 'Dashboard', status: dashboard.json?.status === 'ok' ? 'ok' : 'down', error: dashboard.error}\n];\n\nconst downServices = services.filter(s => s.status === 'down');\nconst allHealthy = downServices.length === 0;\n\nreturn {\n  json: {\n    allHealthy,\n    services,\n    downServices,\n    timestamp: $now.toISO()\n  }\n};"
      },
      "id": "evaluate-health",
      "name": "Evaluate Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 350]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "health-check",
              "leftValue": "={{ $json.allHealthy }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-healthy",
      "name": "All Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 350]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚨 **Service Alert**\\n\\n{{ $json.downServices.map(s => '❌ ' + s.name + ' is down').join('\\n') }}\\n\\nChecked at {{ $now.toFormat('HH:mm') }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "alert-down",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 450],
      "credentials": {"telegramApi": {"id": "telegram-bot", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "Every 15 Minutes": {"main": [[{"node": "Check Khoj", "type": "main", "index": 0}], [{"node": "Check n8n", "type": "main", "index": 0}], [{"node": "Check Dashboard", "type": "main", "index": 0}]]},
    "Check Khoj": {"main": [[{"node": "Evaluate Health", "type": "main", "index": 0}]]},
    "Check n8n": {"main": [[{"node": "Evaluate Health", "type": "main", "index": 0}]]},
    "Check Dashboard": {"main": [[{"node": "Evaluate Health", "type": "main", "index": 0}]]},
    "Evaluate Health": {"main": [[{"node": "All Healthy?", "type": "main", "index": 0}]]},
    "All Healthy?": {"main": [[], [{"node": "Send Alert", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "versionId": "1",
  "meta": {"instanceId": "void-automation"},
  "tags": [{"name": "void-core"}]
}
