n8n-workflows/13-memory-updater.json
{
  "name": "Memory Updater",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "memory-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst type = body.type || 'preferences';\nconst content = body.content || '';\nconst append = body.append !== false;\n\nconst fileMap = {\n  'preferences': '/vault/07-Agent-Memory/preferences.md',\n  'priorities': '/vault/07-Agent-Memory/priorities.md',\n  'goals': '/vault/07-Agent-Memory/goals.md',\n  'context': '/vault/07-Agent-Memory/context.md',\n  'style': '/vault/07-Agent-Memory/style-guide.md'\n};\n\nconst filePath = fileMap[type] || fileMap['preferences'];\n\nreturn {json: {type, content, append, filePath}};"
      },
      "id": "parse-request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "append-check",
              "leftValue": "={{ $json.append }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-append",
      "name": "Append or Replace?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "={{ $('Parse Request').first().json.filePath }}",
        "options": {}
      },
      "id": "read-existing",
      "name": "Read Existing",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "jsCode": "const existing = $input.first().json.data || '';\nconst newContent = $('Parse Request').first().json.content;\nconst timestamp = $now.toFormat('yyyy-MM-dd HH:mm');\n\nreturn {json: {content: existing + `\\n\\n## Update (${timestamp})\\n${newContent}`}};"
      },
      "id": "append-content",
      "name": "Append Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "const newContent = $('Parse Request').first().json.content;\nreturn {json: {content: newContent}};"
      },
      "id": "replace-content",
      "name": "Replace Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "={{ $('Parse Request').first().json.filePath }}",
        "fileContent": "={{ $json.content }}",
        "options": {}
      },
      "id": "write-file",
      "name": "Write Memory File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KHOJ_BASE_URL || 'http://khoj:42110' }}/api/update",
        "options": {"timeout": 60000}
      },
      "id": "trigger-reindex",
      "name": "Trigger Khoj Reindex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"type\": \"{{ $('Parse Request').first().json.type }}\",\n  \"file\": \"{{ $('Parse Request').first().json.filePath }}\",\n  \"reindexed\": true\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Parse Request", "type": "main", "index": 0}]]},
    "Parse Request": {"main": [[{"node": "Append or Replace?", "type": "main", "index": 0}]]},
    "Append or Replace?": {"main": [[{"node": "Read Existing", "type": "main", "index": 0}], [{"node": "Replace Content", "type": "main", "index": 0}]]},
    "Read Existing": {"main": [[{"node": "Append Content", "type": "main", "index": 0}]]},
    "Append Content": {"main": [[{"node": "Write Memory File", "type": "main", "index": 0}]]},
    "Replace Content": {"main": [[{"node": "Write Memory File", "type": "main", "index": 0}]]},
    "Write Memory File": {"main": [[{"node": "Trigger Khoj Reindex", "type": "main", "index": 0}]]},
    "Trigger Khoj Reindex": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "versionId": "1",
  "meta": {"instanceId": "void-automation"},
  "tags": [{"name": "void-core"}]
}
